<section class='comment_list'>
    <h2>Comments</h2>
    <% if current_user %>
      <%= erb :_comment_form %>
    <% end %>
    <table>
      <% Comment.all.reverse_each do |comment| %>
      <% hash = Digest::MD5.hexdigest(comment.user.email.downcase) %>
          <tr>
          <td>
            <hr>
          </td>
          <td>
            <hr>
          </td>
        </tr>

        <tr>
          <td>
            <img src="http://www.gravatar.com/avatar/<%= "#{hash}" %>">
          </td>

          <td>
            <p id="comment_username"><b><%= "#{comment.user.firstname} #{comment.user.lastname}" %></b><span class="timestamp"><%= comment.time_difference %></span></p>
            <p id='content'><%= comment.content %></p>
          </td>


        </tr>


      <% end %>
    </table>
</section>



