<<<<<<< HEAD
<%= erb :_about_project %>
<%= erb :_users %>
<div class='description'>
  <%= erb :_image_scroller %>

  <p>korn stuff</p>
<%= erb :_paypal_button %>
<div class='comment_section'>
  <%= erb :_comment_list %>
</div>
